.container{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    .logo{
        img{
            width: 60%;
        }
    }
} 
.green{
    color: rgb(18,185,117); 
}
.btn{
    padding: 10px 35px;
    background-color:  rgb(18,185,117);
    border-radius: 20px;
    color: white;
}
   
.col-lg-4{
    i{
        font-size: 50px;
        padding-top: 30px;
    }
    width: 30%;
    margin:0 10px;
    height: 200px;
    &:hover{
        box-shadow: 10px 10px 10px 12px rgb(201, 199, 199, 0.7);
    }
}
 .row{
    margin: 0 !important;
    padding: 0 !important;
 }
.flexible-page{
    .img{
        img{
            height: 100vh;
        }

    }
    .lenght-line{
        background-color: rgb(206, 202, 202);
        height: 12px;
        width: 75%;
        border-radius: 5px;
        .color{
            height: 12px;
            width: 79%;
            background-color: rgb(26, 80, 26);
        }
    }
    margin-top: 100px;
    .text{
        p{
            padding: 30px 0;
            width: 80%;
        }
    }
}


.gallery{
    margin-top: 100px;
    margin-bottom: 50px;
    h1{
        width: 80%;
    }
}
    .link{
        span{
            transition: .5s;
            &:hover{
                color: rgb(12, 226, 141);
            }
        }
    }
.comment{
    width: 70%;
    margin: 0 auto;
    h3{
        text-align: center;
        padding: 10px;
    }
}

.header{
    .text{
        width: 80%;
        text-align: center;
        margin: 2% auto;
    }
    .center{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    width: 65%;
    margin: 5% auto;
    .line{
    width: 3%;
    margin: 2% auto;
    height: 2px;
    background-color: rgb(18,185,117);
}
}
#carts{
    .kart{
        height: 80vh;
        padding-top: 50px;
        .big-center{
            font-size: 30px;
        }
    }
}
